<h1><%= @game.player_1.name %> attacked <%= @game.player_2.name %></h2>

  <img style="border: 5px groove red;" src="https://previews.123rf.com/images/ratoca/ratoca1209/ratoca120900350/15600450-Punch-cartoon-Stock-Vector-boxing-cartoon-beaten.jpg" height="120" width="120"></img>

<h2><%= @game.player_2.name %> took one to the jaw </h2>
<h2> <%= @game.player_2.name %>'s HP was slammed by 10!!! </h2>
<h2><%= @game.player_2.name %>: <%= @game.player_2.hitpoints %>HP</h2>

<form action='/play'>
<input type="submit" value="NEXT TURN!">
