<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
<h4><%= @game.player_1.name %>: <%= @game.player_1.hitpoints %>HP</h4>
<h4><%= @game.player_2.name %>: <%= @game.player_2.hitpoints %>HP</h4>
<h2><%= @game.current_turn.name %>: time to attack! <%=  @game.next_turn.name %> : <%@game.next_turn.hitpoints %>HP</h2>
<form action="/attacked">
<input type="submit" value="Attack!">
